.outlook-button{
  width: 180px;
  height: 44px;
  td{
    background: $council-red;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-bottom: 4px solid #800000;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    font-family: $font-stack;
    display: block;
    vertical-align: middle;
    padding: 13px 5px;
    a {
        width: 100%;
        line-height: 34px;
        color: #FFFFFF;
        text-decoration: none;
        font-weight: bold;
        vertical-align: middle;
        display:inline-block;
    }
  }
}
