body{
	font-style: $font-stack;
}

#bodyCell {
  padding: 20px;
}

body, #bodyTable {
  background-color: #dee0e2;
  margin: 55px auto;
	padding:0;
	width:100% !important;
	line-height: 100% !important;
}

#bodyCell {
  border-top: 4px solid #bbb;
}

#templateContainer {
  border: 1px solid #bbb;
  background-color: #f4f4f4;

	width: 600px;
}

h1 {
  font-family: $font-stack;
  font-size: 34px;
  font-weight: bold;
  font-style: normal;
  line-height: 55px;
  display: block;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
  text-align: left;
  letter-spacing: normal;
  color: #202020 !important;
}

h2 {
  font-family: $font-stack;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  line-height: 34px;
  display: block;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
  text-align: left;
  letter-spacing: normal;
  color: #404040 !important;
}

h3 {
  font-family: $font-stack;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  display: block;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
  text-align: left;
  letter-spacing: normal;
  color: #606060 !important;
}

h4 {
  font-family: $font-stack;
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  line-height: 18px;
  display: block;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  text-align: left;
  letter-spacing: normal;
  color: #808080 !important;
}

h1, h2, h3, h4, h5, ul, ol, li, div, p, span, a, table {
  font-family: $font-stack;
}

p {
  font-family: $font-stack;
  margin: 1em auto;
  color: #333333;
  font-size: 13px;
  line-height: 21px;
  a {
    color: $council-red;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px dotted $council-red;
    -moz-transition: 1s all;
    -webkit-transition: 1s all;
    transition: 1s all;
    &:hover{
      border-bottom-style: solid;
    }
  }
}

td.textContainer{
  padding: 8px 13px;
  &#title {
    background-color: #F0F0F0;
    h1, h2, h3, h4{
      text-align: center;
      margin: auto;
    }
  }
  .invite{
    text-align: center;
    margin: 1em  auto;
    font-size: 15px;
    strong{
      font-size: 18px;
    }
    small{
      font-size: 10px;
    }
    .title, .speaker{
      font-family: Georgia, serif;
      text-transform: uppercase;
    }
  }
}

#featured{
  background-color: #efefef;/*#111111;*/
	#featuredImage {
		width: 600px !important;
		height: 300px !important;
	}
  .dateContainer{
    padding: 2px 5px;
    p{
      a{
        color: #efefef;
        text-decoration: none;
        border-bottom: 0px dotted #efefef;
      }
    }
  }
}

table.sponsorContainer{
  padding: 13px auto;
  width: 100%;
  td.textContainer, & h2{
    text-align: center;
    margin:auto;
    a{
      text-decoration: none !important;
      margin: 0px;
    }
    img{
      height: 55px;
      width: auto;
			display: inline-block;
    }
  }
}
