* {
    margin: 0;
    padding: 0;
}

img
{
    line-height: 100%;

    height: auto;

    text-decoration: none;

    border: none;
    outline: none;
}

table
{
    border-collapse: collapse !important;
}

body
{
    width: 100% !important;
    height: 100% !important;
}
